## Notebook for policy brief for PAC team

In [1]:
#import packages
import pandas as pd
import seaborn as sns
import altair as alt
from matplotlib import pyplot as plt

In [18]:

ind1 = pd.read_excel(r"C:\Users\mafiz\OneDrive - United Nations\Projects\Rumbi education data\sdg data for Rumbi.xlsx", sheet_name='4.5.1')

# Select specific columns (optional)
ind1 = ind1[['Country', 'iso2', 'Target', 'Indicator Number', 'Indicator Name', 'Year', 'Value']]
ind1.head()

,Country,iso2,Target,Indicator Number,Indicator Name,Year,Value
0,Senegal,SN,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2013,1.00
1,Cuba,CU,4.5,4.5.1,"Proportion of teachers with the minimum required qualifications in secondary education, adjusted gender parity index (GPIA)",2013,1.00
2,United States of America,US,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2013,1.00
3,Cook Islands,CK,4.5,4.5.1,"Proportion of teachers with the minimum required qualifications in secondary education, adjusted gender parity index (GPIA)",2013,1.06
4,Latvia,LV,4.5,4.5.1,"Proportion of teachers with the minimum required qualifications in secondary education, adjusted gender parity index (GPIA)",2013,1.00

In [19]:
# Replace 'your_file.xlsx' with the actual path to your Excel file
ind2 = pd.read_excel(r"C:\Users\mafiz\OneDrive - United Nations\Projects\Rumbi education data\sdg data for Rumbi.xlsx", sheet_name='4.6.2')

# Select specific columns (optional)
ind2 = ind2[['Country', 'iso2', 'Target', 'Indicator Number', 'Indicator Name', 'Year', 'Value']]
ind2.head()

,Country,iso2,Target,Indicator Number,Indicator Name,Year,Value
0,Mexico,MX,4.6,4.6.2,"Youth literacy rate, population 15-24 years, male (%)",2013,98.53
1,Venezuela (Bolivarian Republic of),VE,4.6,4.6.2,"Youth literacy rate, population 15-24 years, female (%)",2013,98.95
2,Iran (Islamic Republic of),IR,4.6,4.6.2,"Youth literacy rate, population 15-24 years, both sexes (%)",2013,97.78
3,Thailand,TH,4.6,4.6.2,"Youth literacy rate, population 15-24 years, male (%)",2013,97.98
4,Uruguay,UY,4.6,4.6.2,"Youth literacy rate, population 15-24 years, both sexes (%)",2013,98.93

In [20]:
# read aggragation methods
ref = pd.read_csv('https://raw.githubusercontent.com/MafiAtUN/OSAAReferenceData/main/Aggregates.csv', encoding='Latin-1')
ref.head()

  Country or Area  M49 Code iso2 iso3     country_grouping
0         Algeria        12   DZ  DZA               Africa
1         Algeria        12   DZ  DZA      Northern Africa
2         Algeria        12   DZ  DZA      Northern Africa
3         Algeria        12   DZ  DZA          Arab states
4         Algeria        12   DZ  DZA  Lower middle income

In [6]:
# You can optionally specify ignore_index=True to avoid duplicate indices
df_appended = pd.concat([df, df2])
df_appended.head()

,Country,iso2,Target,Indicator Number,Indicator Name,Year,Value
0,Senegal,SN,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2013,1.00
1,Cuba,CU,4.5,4.5.1,"Proportion of teachers with the minimum required qualifications in secondary education, adjusted gender parity index (GPIA)",2013,1.00
2,United States of America,US,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2013,1.00
3,Cook Islands,CK,4.5,4.5.1,"Proportion of teachers with the minimum required qualifications in secondary education, adjusted gender parity index (GPIA)",2013,1.06
4,Latvia,LV,4.5,4.5.1,"Proportion of teachers with the minimum required qualifications in secondary education, adjusted gender parity index (GPIA)",2013,1.00

In [21]:
df_appended['Indicator Name'].unique()

array(['Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)',
       'Proportion of teachers with the minimum required qualifications in secondary education, adjusted gender parity index (GPIA)',
       'Youth literacy rate, population 15-24 years, male (%)',
       'Youth literacy rate, population 15-24 years, female (%)',
       'Youth literacy rate, population 15-24 years, both sexes (%)'],
      dtype=object)

In [10]:
data2 = ref.merge(df_appended, how = 'left', on = 'iso2')
data2.head()

,Country or Area,M49 Code,iso2,iso3,country_grouping,Country,Target,Indicator Number,Indicator Name,Year,Value
0,Algeria,12,DZ,DZA,Africa,Algeria,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2014.0,1.0
1,Algeria,12,DZ,DZA,Africa,Algeria,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2015.0,1.0
2,Algeria,12,DZ,DZA,Africa,Algeria,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2016.0,1.0
3,Algeria,12,DZ,DZA,Africa,Algeria,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2017.0,1.0
4,Algeria,12,DZ,DZA,Africa,Algeria,4.5,4.5.1,"Proportion of qualified teachers in primary education, adjusted gender parity index (GPIA)",2018.0,1.0

In [11]:
data2.to_csv('./data_final.csv')